<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/product_detail.css">
    

    <title>
        <%= product.ten %>
    </title>
</head>

<body>
    <div class="main-product">
        <div class="main-product-breadcrumb" title="Converse Chuck Taylor All Star Specialty Suede">
            <div class="container-about">
                <div class="section-title-all">
                    <h1>Chi tiết sản phẩm</h1>
                </div>
                <div class="breadcrumb-wrap">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/" aria-label="Trang chủ" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item"><a href="/product.html" aria-label="CONVERSE ALL"
                                title="CONVERSE ALL">CONVERSE ALL</a></li>
                        <li class="breadcrumb-item active"><span> Chi tiết sản phẩm</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-about">
            <div class="main-product-wrap">
                <div class="main-product-left main-product-feature" data-style="style1">
                    <div class="zoom-container">
                        <img src="<%= product.hinh %>" alt="Product Image" class="main-product-image" id="mainImage"
                            onclick="openModal()">
                    </div>
                    <div class="main-product-thumbnails">
                        <img src="<%= product.hinh %>" alt="Thumbnail 1" class="thumbnail" onclick="changeImage('<%= product.hinh %>')">
                        <img src="<%= product.thumbnails[0] %>" alt="Thumbnail 2" class="thumbnail"
                            onclick="changeImage('<%= product.thumbnails[0] %>')">
                        <img src="<%= product.thumbnails[1] %>" alt="Thumbnail 3" class="thumbnail"
                            onclick="changeImage('<%= product.thumbnails[1] %>')">
                        <img src="<%= product.thumbnails[2] %>" alt="Thumbnail 4" class="thumbnail"
                            onclick="changeImage('<%= product.thumbnails[2] %>')">
                    </div>
        
                </div>
                <div class="main-product-right">
                    <div class="main-product-share">
                        <button type="button" data-type="main-product-share-overplay"
                            class="main-product-share-overplay"></button>
                        <button type="button" data-type="main-product-share-open-popup" class="main-product-share-cta"
                            title="Chia sẻ" fdprocessedid="lwdq7o">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path fill="#595959"
                                    d="M19 3c-1.652 0-3 1.348-3 3 0 .46.113.895.3 1.285L12.587 11h-4.77A2.999 2.999 0 005 9c-1.652 0-3 1.348-3 3s1.348 3 3 3c1.3 0 2.402-.84 2.816-2h4.77l3.715 3.715c-.188.39-.301.824-.301 1.285 0 1.652 1.348 3 3 3s3-1.348 3-3-1.348-3-3-3c-.46 0-.895.113-1.285.3l-3.3-3.3 3.3-3.3c.39.187.824.3 1.285.3 1.652 0 3-1.348 3-3s-1.348-3-3-3z">
                                </path>
                            </svg>
                        </button>
                        <div class="main-product-share-popup">
                            <div class="main-product-share-popup-head">
                                <label>Chia sẻ</label>
                                <a target="_blank" aria-label="Chia sẻ Facebook" title="Chia sẻ Facebook"
                                    href="https://www.facebook.com/sharer.php?u=https://f1genz-shoes.mysapo.net/converse-chuck-taylor-all-star-specialty-suede"><svg
                                        width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M27 0H5a5 5 0 00-5 5v22a5 5 0 005 5h22a5 5 0 005-5V5a5 5 0 00-5-5z"
                                            fill="#1778F2"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M20.314 32V19.499h3.255L24 15.19h-3.686l.006-2.156c0-1.123.1-1.725 1.623-1.725h2.034V7h-3.255c-3.91 0-5.285 2.09-5.285 5.604v2.587H13v4.308h2.437V32h4.877z"
                                            fill="#fff"></path>
                                    </svg></a>
                                <a target="_blank" aria-label="Chia sẻ Facebook" title="Chia sẻ Twitter"
                                    href="https://twitter.com/intent/tweet?url=https://f1genz-shoes.mysapo.net/converse-chuck-taylor-all-star-specialty-suede"><svg
                                        width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="32" height="32" rx="4" fill="#1FA1F3"></rect>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M15.73 13.235l.04.634-.674-.077c-2.455-.298-4.6-1.308-6.42-3.004l-.89-.841-.23.621c-.485 1.385-.175 2.848.836 3.832.54.544.419.622-.512.298-.324-.104-.607-.181-.634-.143-.094.091.23 1.27.486 1.735.35.648 1.065 1.282 1.847 1.657l.661.298-.782.013c-.755 0-.782.013-.701.285.27.841 1.335 1.735 2.522 2.123l.836.272-.728.414a7.894 7.894 0 01-3.615.958c-.607.013-1.106.065-1.106.104 0 .13 1.646.854 2.603 1.14 2.873.84 6.285.478 8.848-.959 1.82-1.023 3.642-3.055 4.491-5.023.459-1.049.918-2.965.918-3.884 0-.596.04-.673.795-1.385.445-.415.864-.868.945-.997.134-.246.12-.246-.567-.026-1.146.388-1.308.337-.742-.246.418-.414.917-1.165.917-1.385 0-.04-.202.026-.431.142-.243.13-.783.324-1.187.44l-.729.22-.66-.427c-.364-.233-.877-.492-1.147-.57-.688-.18-1.74-.155-2.36.052-1.686.583-2.752 2.085-2.63 3.729z"
                                            fill="#fff"></path>
                                    </svg></a>
                                <a target="_blank" aria-label="Chia sẻ Facebook" title="Chia sẻ WhatsApp"
                                    href="https://wa.me/?text=https://f1genz-shoes.mysapo.net/converse-chuck-taylor-all-star-specialty-suede"><svg
                                        viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                        clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                                        <path
                                            d="M116.225-.001c-11.264.512-26.112 1.536-32.768 3.072-10.24 2.048-19.968 5.12-27.648 9.216-9.728 4.608-17.92 10.752-25.088 17.92-7.68 7.68-13.824 15.872-18.432 25.6-4.096 7.68-7.168 17.408-9.216 27.648-1.536 6.656-2.56 21.504-2.56 32.768-.512 4.608-.512 10.752-.512 13.824v265.729c.512 11.264 1.536 26.112 3.072 32.768 2.048 10.24 5.12 19.968 9.216 27.648 4.608 9.728 10.752 17.92 17.92 25.088 7.68 7.68 15.872 13.824 25.6 18.432 7.68 4.096 17.408 7.168 27.648 9.216 6.656 1.536 21.504 2.56 32.768 2.56 4.608.512 10.752.512 13.824.512h265.728c11.264-.512 26.112-1.536 32.768-3.072 10.24-2.048 19.968-5.12 27.648-9.216 9.728-4.608 17.92-10.752 25.088-17.92 7.68-7.68 13.824-15.872 18.432-25.6 4.096-7.68 7.168-17.408 9.216-27.648 1.536-6.656 2.56-21.504 2.56-32.768.512-4.608.512-10.752.512-13.824V116.223c-.512-11.264-1.536-26.112-3.072-32.768-2.048-10.24-5.12-19.968-9.216-27.648-4.608-9.728-10.752-17.92-17.92-25.088-7.68-7.68-15.872-13.824-25.6-18.432-7.68-4.096-17.408-7.168-27.648-9.216-6.656-1.536-21.504-2.56-32.768-2.56-4.608-.512-10.752-.512-13.824-.512H116.225z"
                                            fill="url(#whatsApp_svg___Linear1)" fill-rule="nonzero"></path>
                                        <path
                                            d="M344.754 289.698c-4.56-2.282-26.98-13.311-31.161-14.832-4.18-1.521-7.219-2.282-10.259 2.282-3.041 4.564-11.78 14.832-14.44 17.875-2.66 3.042-5.32 3.423-9.88 1.14-4.561-2.281-19.254-7.095-36.672-22.627-13.556-12.087-22.709-27.017-25.369-31.581s-.283-7.031 2-9.304c2.051-2.041 4.56-5.324 6.84-7.986 2.28-2.662 3.04-4.564 4.56-7.606 1.52-3.042.76-5.705-.38-7.987-1.14-2.282-10.26-24.72-14.06-33.848-3.701-8.889-7.461-7.686-10.26-7.826-2.657-.132-5.7-.16-8.74-.16-3.041 0-7.98 1.141-12.161 5.704-4.18 4.564-15.96 15.594-15.96 38.032 0 22.438 16.34 44.116 18.62 47.159 2.281 3.043 32.157 49.089 77.902 68.836 10.88 4.697 19.374 7.501 25.997 9.603 10.924 3.469 20.866 2.98 28.723 1.806 8.761-1.309 26.98-11.029 30.781-21.677 3.799-10.649 3.799-19.777 2.659-21.678-1.139-1.902-4.179-3.043-8.74-5.325m-83.207 113.573h-.061c-27.22-.011-53.917-7.32-77.207-21.137l-5.539-3.287-57.413 15.056 15.325-55.959-3.608-5.736c-15.184-24.145-23.203-52.051-23.192-80.704.033-83.611 68.083-151.635 151.756-151.635 40.517.016 78.603 15.811 107.243 44.474 28.64 28.663 44.404 66.764 44.389 107.283-.035 83.617-68.083 151.645-151.693 151.645m129.102-280.709c-34.457-34.486-80.281-53.487-129.103-53.507-100.595 0-182.468 81.841-182.508 182.437-.013 32.156 8.39 63.546 24.361 91.212l-25.892 94.545 96.75-25.37c26.657 14.535 56.67 22.194 87.216 22.207h.075c100.586 0 182.465-81.852 182.506-182.448.019-48.751-18.946-94.59-53.405-129.076"
                                            fill="#fff"></path>
                                        <defs>
                                            <linearGradient gradientTransform="matrix(0 -512 -512 0 256.001 512)"
                                                gradientUnits="userSpaceOnUse" id="whatsApp_svg___Linear1" x1="0" x2="1" y1="0"
                                                y2="0">
                                                <stop offset="0" stop-color="#25cf43"></stop>
                                                <stop offset="1" stop-color="#61fd7d"></stop>
                                            </linearGradient>
                                        </defs>
                                    </svg></a>
                                <a target="_blank" aria-label="Chia sẻ Facebook" title="Chia sẻ Linkedin"
                                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://f1genz-shoes.mysapo.net/converse-chuck-taylor-all-star-specialty-suede"><svg
                                        width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="32" height="32" rx="4" fill="#0077B5"></rect>
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.857 9.07c-.022-1.094-.744-1.927-1.917-1.927S7 7.976 7 9.07C7 10.142 7.744 11 8.895 11h.022c1.196 0 1.94-.858 1.94-1.93zm0 3.216H7v11.571h3.857V12.286zm9.294 0c2.771 0 4.849 1.616 4.849 5.089v6.482h-4.212V17.81c0-1.52-.609-2.556-2.134-2.556-1.163 0-1.856.698-2.16 1.373-.112.242-.14.58-.14.917v6.314h-4.211s.055-10.244 0-11.305h4.212v1.601c.559-.77 1.56-1.867 3.796-1.867z"
                                            fill="#fff"></path>
                                    </svg></a>
                            </div>
                            <hr>
                            <div class="main-product-share-popup-body">
                                <label>Sao chép đường dẫn</label>
                                <form>
                                    <input
                                        value="https://f1genz-shoes.mysapo.net/converse-chuck-taylor-all-star-specialty-suede"
                                        readonly="" id="main-product-share-copy">
                                    <button type="button" title="Sao chép" data-type="main-product-share-copy">Sao
                                        chép</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <h1 class="main-product-title "><%= product.ten %></h1>
                    <div class="main-product-info">
                        <div class="main-product-info-sku">
                            <strong>Mã sản phẩm: </strong>
                            <span>Đang cập nhật</span>
                        </div>
                        <div class="main-product-info-barcode">
                            <strong>Barcode: </strong>
                            <span>Đang cập nhật</span>
                        </div>
                        <div class="main-product-info-vendor">
                            <strong>Thương hiệu: </strong>
                            <span>Converse</span>
                        </div>
                        <div class="main-product-info-type">
                            <strong>Dòng sản phẩm: </strong>
                            <span>Giày cổ cao</span>
                        </div>
                    </div>
                    <div class="main-product-price">
                        <div class="main-product-price-wrap">
                            <del class="main-product-price-compare"><%= product.gia.toLocaleString("vi") + " VNĐ" %></del>
        
                            <span class="main-product-price-this"><%= product.gia_km.toLocaleString("vi") + " VNĐ" %></span>
        
                            <span class="main-product-price-discount">Tiết kiệm</span>
                        </div>
                        <div class="sapo-product-reviews-badge" data-id="33445614">
                            <div class="sapo-product-reviews-star" data-score="0" data-number="5" style="color: #ffbe00"
                                title="Not rated yet!"><i data-alt="1" class="star-off-png fa-regular fa-star"
                                    title="Not rated yet!"></i>&nbsp;<i data-alt="2" class="star-off-png fa-regular fa-star"
                                    title="Not rated yet!"></i>&nbsp;<i data-alt="3" class="star-off-png fa-regular fa-star"
                                    title="Not rated yet!"></i>&nbsp;<i data-alt="4" class="star-off-png fa-regular fa-star"
                                    title="Not rated yet!"></i>&nbsp;<i data-alt="5" class="star-off-png fa-regular fa-star"
                                    title="Not rated yet!"></i><input name="score" type="hidden" readonly=""></div>
                        </div>
                    </div>
                    <!-- Flash Sale -->
                    <div class="productFSale">
                        <img src="https://file.hstatic.net/200000306687/file/ezgif.com-gif-maker_40e5c36d115b4904babbebc78c90c34e.gif"
                            alt="productFSale">
                        <div data-time="1/4/2025 24:00:00" class="countdownLoop">
                            <span id="days"><b>70 </b></span><span> Ngày</span>
                            <span id="hours"><b>07</b></span><span> Giờ</span>
                            <span id="minutes"><b>41</b> </span><span> Phút</span>
                            <span id="seconds"><b>53</b></span> <span> Giây</span>
                        </div>
                    </div>
                    <!-- End Flash Sale -->
                    <div class="d-none">
                        <div class="selector-wrapper"><select class="single-option-selector" data-option="option1"
                                id="main-product-select-option-0">
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                            </select></div><select id="main-product-select" name="id" style="display: none;">
                            <option value="102679924">35</option>
                            <option value="102679925">36</option>
                            <option value="102679926">37</option>
                            <option value="102679927">38</option>
                        </select>
                    </div>
                    <div class="main-product-swatch">
        
        
        
        
                        <div class="product-sw-line">
                            <div class="product-sw-select">
                                <div class="product-sw-title">Size</div>
                                <span class="product-sw-select-item">
                                    <input type="radio" data-value="35" name="product-choose-size" data-name="option1"
                                        value="35" class="trigger-option-sw" id="product-choose-size-2">
                                    <label for="product-choose-size-2" class="product-sw-select-item-span">35</label>
                                </span>
                                <span class="product-sw-select-item">
                                    <input type="radio" data-value="36" name="product-choose-size" data-name="option1"
                                        value="36" class="trigger-option-sw" id="product-choose-size-3">
                                    <label for="product-choose-size-3" class="product-sw-select-item-span">36</label>
                                </span>
                                <span class="product-sw-select-item">
                                    <input type="radio" data-value="37" name="product-choose-size" data-name="option1"
                                        value="37" class="trigger-option-sw" id="product-choose-size-4">
                                    <label for="product-choose-size-4" class="product-sw-select-item-span">37</label>
                                </span>
                                <span class="product-sw-select-item">
                                    <input type="radio" data-value="38" name="product-choose-size" data-name="option1"
                                        value="38" class="trigger-option-sw" id="product-choose-size-5">
                                    <label for="product-choose-size-5" class="product-sw-select-item-span">38</label>
                                </span>
        
        
                            </div>
                        </div>
        
                    </div>
                    <div class="main-product-quantity shop-quantity-wrap">
                        <label>Số lượng</label>
                        <div class="shop-quantity">
                            <button type="button" data-type="shop-quantity-minus" title="Giảm" fdprocessedid="s4ysna">-</button>
                            <input type="number" name="quantity" value="1" min="1" readonly="" fdprocessedid="rnzroa">
                            <button type="button" data-type="shop-quantity-plus" title="Tăng" fdprocessedid="mvmsg9">+</button>
                        </div>
                    </div>
                    <div class="main-product-freeship">
                        <div class="shop-freeship" data-freeship-price="50000000">
                            <div class="shop-freeship-bar">
                                <div class="shop-freeship-bar-main"><span style="width: 0%;"></span></div>
                            </div>
                            <div class="shop-freeship-note">Mua thêm <span>50.000.000₫</span> để được miễn phí giao
                                hàng
                                trên toàn quốc</div>
                        </div>
                    </div>
                    <div class="main-product-cta">
                        <button type="button" data-type="main-product-add" title="Thêm vào giỏ" fdprocessedid="61fv2g">
                            <strong>Thêm vào giỏ</strong>
                            <span>Chọn ngay sản phẩm bạn yêu thích</span>
                        </button>
                        <button type="button" data-type="main-product-send-help" title="Tư vấn" fdprocessedid="6mh1p">
                            <strong>Tư vấn</strong>
                            <span>Tư vấn thiết kế nội thất tùy chọn</span>
                        </button>
                        <button type="button" data-type="main-product-send-info" onclick="window.open('/pages/lien-he')"
                            title="Liên hệ" fdprocessedid="zhjj0m">
                            <strong>Liên hệ</strong>
                            <span>Chúng tôi luôn bên bạn 24/7</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="sapo-buyxgety-module-detail-v2"></div>
            <div class="main-product-description">
                <div class="main-product-description-left ">
                    <ul class="main-product-description-left-head">
                        <li data-type="des" class="active"><span>Mô tả sản phẩm</span></li>
                        <li data-type="page1"><span>Chính sách bảo mật</span></li>
                        <li data-type="page2"><span>Chính sách đổi trả</span></li>
                        <li data-type="page3"><span>Điều khoản dịch vụ</span></li>
                    </ul>
                    <div class="main-product-description-left-item" data-type="des">
                        <div class="main-product-description-item-data">
                            <p></p>
                            <div class="table-responsive">
                                <table cellpadding="0" cellspacing="0" border="1"
                                    class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>NHÃN HIỆU</td>
                                            <td>Convers&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>TÊN</td>
                                            <td>Converse Chuck Taylor All Star SP OX&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>DÒNG SẢN PHẨM</td>
                                            <td>Chuck Taylor All Star</td>
                                        </tr>
                                        <tr>
                                            <td>NƠI SẢN XUẤT</td>
                                            <td>Việt Nam</td>
                                        </tr>
                                        <tr>
                                            <td>CHẾ ĐỘ BẢO HÀNH</td>
                                            <td>Converse Chuck Taylor All Star SP OX&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>PHỤ KIỆN THEO KÈM</td>
                                            <td>Túi Converse, Phiếu bảo hành chính hãng, Hộp giày</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><br>
                        </div>
                        <a href="javascript:void(0);" class="main-product-description-item-readmore"
                            aria-label="Xem đầy đủ Mô tả sản phẩm" title="Xem đầy đủ Mô tả sản phẩm"
                            style="display: none;">Xem thêm</a>
                    </div>
                    <div class="main-product-description-left-item an" data-type="page1">
                        <div class="main-product-description-item-data">
                            <p>Chính sách bảo mật này nhằm giúp Quý khách hiểu về cách website thu thập và sử dụng thông
                                tin cá nhân của mình thông qua việc sử dụng trang web, bao gồm mọi thông tin có thể cung
                                cấp thông qua trang web khi Quý khách đăng ký tài khoản, đăng ký nhận thông tin liên lạc
                                từ chúng tôi, hoặc khi Quý khách mua sản phẩm, dịch vụ, yêu cầu thêm thông tin dịch vụ
                                từ chúng tôi.</p>
                            <p>Chúng tôi sử dụng thông tin cá nhân của Quý khách để liên lạc khi cần thiết liên quan đến
                                việc Quý khách sử dụng website của chúng tôi, để trả lời các câu hỏi hoặc gửi tài liệu
                                và thông tin Quý khách yêu cầu.</p>
                            <p><span class="wysiwyg-font-size-medium">Trang web của chúng tôi coi trọng việc bảo mật
                                    thông tin và sử dụng các biện pháp tốt nhất để bảo vệ thông tin cũng như việc thanh
                                    toán của khách hàng.&nbsp;</span></p>
                            <p><span class="wysiwyg-font-size-medium">Mọi thông tin giao dịch sẽ được bảo mật ngoại trừ
                                    trong trường hợp cơ quan pháp luật yêu cầu.</span></p>
                        </div>
                        <a href="javascript:void(0);" class="main-product-description-item-readmore"
                            aria-label="Xem đầy đủ Chính sách bảo mật" title="Xem đầy đủ Chính sách bảo mật"
                            style="display: none;">Xem thêm</a>
                    </div>
                    <div class="main-product-description-left-item an" data-type="page2">
                        <div class="main-product-description-item-data">
                            <p><strong>1. Điều kiện đổi trả</strong></p>
                            <p>Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại
                                hàng&nbsp;ngay tại thời điểm giao/nhận hàng&nbsp;trong những trường hợp sau:</p>
                            <ul>
                                <li>Hàng không đúng chủng loại, mẫu mã trong đơn hàng đã đặt hoặc như trên website tại
                                    thời điểm đặt hàng.</li>
                                <li>Không đủ số lượng, không đủ bộ như trong đơn hàng.</li>
                                <li>Tình trạng bên ngoài bị ảnh hưởng như rách bao bì, bong tróc, bể vỡ…</li>
                            </ul>
                            <p>&nbsp;Khách hàng có trách nhiệm trình giấy tờ liên quan chứng minh sự thiếu sót trên để
                                hoàn thành việc&nbsp;hoàn trả/đổi trả hàng hóa.&nbsp;</p>
                            <p><br></p>
                            <p><strong>2. Quy định về thời gian thông báo và gửi sản phẩm đổi trả</strong></p>
                            <ul>
                                <li><strong>Thời gian thông báo đổi trả</strong>:&nbsp;trong vòng 48h kể từ khi nhận sản
                                    phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bể vỡ.</li>
                                <li><strong>Thời gian gửi chuyển trả sản phẩm</strong>: trong vòng 14 ngày kể từ khi
                                    nhận sản phẩm.</li>
                                <li><strong>Địa điểm đổi trả sản phẩm</strong>: Khách hàng có thể mang hàng trực tiếp
                                    đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu điện.</li>
                            </ul>
                            <p>Trong trường hợp Quý Khách hàng có ý kiến đóng góp/khiếu nại liên quan đến chất lượng sản
                                phẩm, Quý Khách hàng vui lòng liên hệ đường dây chăm sóc khách hàng&nbsp;của chúng tôi.
                            </p>
                        </div>
                        <a href="javascript:void(0);" class="main-product-description-item-readmore"
                            aria-label="Xem đầy đủ Chính sách đổi trả" title="Xem đầy đủ Chính sách đổi trả"
                            style="display: none;">Xem thêm</a>
                    </div>
                    <div class="main-product-description-left-item an" data-type="page3">
                        <div class="main-product-description-item-data">
                            <p><span class="wysiwyg-font-size-medium"><strong>1. Giới thiệu</strong></span></p>
                            <p><span class="wysiwyg-font-size-medium">Chào mừng quý khách hàng đến với website chúng
                                    tôi.</span></p>
                            <p><span class="wysiwyg-font-size-medium">Khi quý khách hàng truy cập vào trang website của
                                    chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này. Trang web có quyền
                                    thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản mua bán hàng
                                    hóa này, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang
                                    web mà không cần thông báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau
                                    khi các thay đổi về Điều khoản này được đăng tải, có nghĩa là quý khách chấp nhận
                                    với những thay đổi đó.</span></p>
                            <p><span class="wysiwyg-font-size-medium">Quý khách hàng vui lòng kiểm tra thường xuyên để
                                    cập nhật những thay đổi của chúng tôi.</span></p>
                            <p><span class="wysiwyg-font-size-medium"><strong>2. Hướng dẫn sử dụng
                                        website</strong></span></p>
                            <p><span class="wysiwyg-font-size-medium">Khi vào web của chúng tôi, khách hàng phải đảm bảo
                                    đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp pháp.
                                    Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua bán hàng
                                    hóa theo quy định hiện hành của pháp luật Việt Nam.</span></p>
                            <p><span class="wysiwyg-font-size-medium">Trong suốt quá trình đăng ký, quý khách đồng ý
                                    nhận email quảng cáo từ website. Nếu không muốn tiếp tục nhận mail, quý khách có thể
                                    từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng
                                    cáo.</span><span class="wysiwyg-font-size-medium"><strong></strong></span><span
                                    class="wysiwyg-font-size-medium"></span><span
                                    class="wysiwyg-font-size-medium"><strong></strong></span><span
                                    class="wysiwyg-font-size-medium"></span><span
                                    class="wysiwyg-font-size-medium"><strong></strong></span><span
                                    class="wysiwyg-font-size-medium"></span></p>
                            <p><span class="wysiwyg-font-size-medium"></span><span
                                    class="wysiwyg-font-size-medium"></span><br></p>
                            <p><span class="wysiwyg-font-size-medium"><strong>3. Thanh toán an toàn và tiện
                                        lợi</strong></span></p>
                            <p><span class="wysiwyg-font-size-medium">Người mua có thể tham khảo các phương thức thanh
                                    toán sau đây và lựa chọn áp dụng phương thức phù hợp:</span></p>
                            <p><span class="wysiwyg-font-size-medium"><strong><u>Cách 1</u></strong>: Thanh toán trực
                                    tiếp (người mua nhận hàng tại địa chỉ người bán)<br></span><span
                                    class="wysiwyg-font-size-medium"><strong><u>Cách
                                            2</u></strong><strong>:</strong>&nbsp;Thanh toán sau (COD – giao hàng và thu
                                    tiền tận nơi)<br></span><span class="wysiwyg-font-size-medium"><strong><u>Cách
                                            3</u></strong><strong>:</strong>&nbsp;Thanh toán online qua thẻ tín dụng,
                                    chuyển khoản</span></p>
                        </div>
                        <a href="javascript:void(0);" class="main-product-description-item-readmore"
                            aria-label="Xem đầy đủ Chính sách đổi trả" title="Xem đầy đủ Chính sách đổi trả"
                            style="display: none;">Xem thêm</a>
                    </div>
                </div>
                <div class="main-product-description-right">
                    <label><span>Thông số kỹ thuật</span></label>
                    <div class="main-product-description-item-data">
                        <p><em><strong>Chuck Taylor Classic là dòng giày truyền thống của Converse được giữ đúng với
                                    nguyên bản ban đầu. Từ lúc xuất hiện cho đến nay dòng Classic vẫn nhận được sự quan
                                    tâm của nhiều khách hàng trên thế giới. Vậy đâu là lý do giúp dòng giày này trở nên
                                    phổ biến và được yêu thích nhiều như vậy trong nhiều thập kỷ qua?</strong></em></p>
                        <p>Chuck Taylor Classic có thiết kế giống như dòng Converse All Star được cho ra mắt vào 1917
                            dành riêng cho các vận động viên bóng rổ chuyên nghiệp.</p>
                        <p>Tuy nhiên thời điểm này giày Converse All Star chỉ thế hiện đúng chức năng của mình mà chưa
                            đạt được độ tinh tế về thời trang. Vì vậy, sau khi Chuck Taylor tham gia vào đội ngũ
                            Converse đã mang đến cho sản phẩm một sự thay đổi mới, đảm được tính thời trang cho sản
                            phẩm. Sự thay đổi này đã khiến Converse có những bước chuyển mình và dần khẳng định được vị
                            thế trong lĩnh vực giày thể thao.</p>
                        <p>Mẫu giày Converse CTAS SP OX với màu trắng sáng giúp làm bật tone và tôn thêm vẻ đẹp cho bộ
                            outfit cực chất của bạn. Thiết kế đơn giản dễ dàng phối hợp với nhiều kiểu quần áo cho bạn
                            tự do thay đổi trang phục. Thân giày được làm từ chất vải dệt dày dặn và bền bỉ, để bạn có
                            cảm giác tự tin và an tâm trong mọi hoạt động.</p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div id="sapo-product-reviews" class="sapo-product-reviews" data-id="33445638">
                <div>
                    <div id="sapo-product-reviews-noitem">
                        <div>
                            <div class="content">
                                <p>Hiện tại sản phẩm chưa có đánh giá nào, bạn hãy trở thành người đầu tiên đánh giá cho
                                    sản phẩm này</p>
                                <div class="product-reviews-summary-actions">
                                    <button type="button" class="btn-new-review">Gửi đánh giá của bạn</button>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="main-product-relate">
                <div class="section-title-all">
                    <h2>Sản phẩm liên quan</h2>
                </div>
                
            </div>
        </div>
        <footer class="footers2"
            style="background-image: url(//bizweb.dktcdn.net/100/493/370/themes/940719/assets/footers2_background.jpg?1713464283843)">
            <div class="container-about">
                <div class="footers2-wrap">
                    <div class="footers2-top">
                        <div class="footers2-top-item footers2-top-one">
                            <a href="/" title="F1GENZ Shoes" aria-label="F1GENZ Shoes">
                                <img title="F1GENZ Shoes"
                                    src="//bizweb.dktcdn.net/100/493/370/themes/940719/assets/footers2_one_logo.png?1713464283843"
                                    alt="F1GENZ Shoes">
                            </a>
                            <p>F1GENZ SHOES luôn cam kết, đảm bảo đưa sản phẩm trực tiếp từ nhà sản xuất đến tay người
                                dùng
                                và kiểm soát được chất lượng để đáp ứng được nhu cầu ngày càng cao của khách hàng. Tất
                                cả
                                các sản phẩm tại F1GENZ SHOES đều có nguồn gốc xuất xứ rõ ràng, chất lượng.</p>
                        </div>
                        <div class="footers2-top-item footers2-top-two">
                            <h4>Liên hệ <i class="fa fa-chevron-down"></i></h4>
                            <div class="footers2-top-item-content">
                                <p>Tư vấn dịch vụ: <a aria-label="Liên hệ" title="Liên hệ" href="tel:18006750">1800
                                        6750</a>
                                    <br>
                                    Hỗ trợ sử dụng: <a aria-label="Liên hệ" title="Liên hệ" href="tel:19006750">1900
                                        6750</a> <br>
                                    Hỗ trợ vận chuyển: <a aria-label="Liên hệ" title="Liên hệ" href="tel:19006719">1900
                                        6719</a> <br>
                                    Email: <a aria-label="Liên hệ" title="Liên hệ"
                                        href="mailto:support@sapo.vn">support@sapo.vn</a> <br>
                                    Từ 7h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật
                                </p>
                            </div>
                        </div>
                        <div class="footers2-top-item footers2-top-three">
                            <h4>Về chúng tôi <i class="fa fa-chevron-down"></i></h4>
                            <div class="footers2-top-item-content">
                                <ul>
                                    <li><a href="/gioi-thieu" aria-label="Giới thiệu" title="Giới thiệu">Giới thiệu</a>
                                    </li>
                                    <li><a href="/chinh-sach-doi-tra" aria-label="Chính sách đổi trả"
                                            title="Chính sách đổi trả">Chính sách đổi trả</a></li>
                                    <li><a href="/chinh-sach-bao-mat" aria-label="Chính sách bảo mật"
                                            title="Chính sách bảo mật">Chính sách bảo mật</a></li>
                                    <li><a href="/dieu-khoan-dich-vu" aria-label="Điều khoản dịch vụ"
                                            title="Điều khoản dịch vụ">Điều khoản dịch vụ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footers2-top-item footers2-top-four">
                            <h4>Danh mục nổi bật <i class="fa fa-chevron-down"></i></h4>
                            <div class="footers2-top-item-content">
                                <ul>
                                    <li><a href="/chuck-2" aria-label="Chuck 2" title="Chuck 2">Chuck 2</a></li>
                                    <li><a href="/converse-all" aria-label="Converse All" title="Converse All">Converse
                                            All</a></li>
                                    <li><a href="/socks" aria-label="Socks" title="Socks">Socks</a></li>
                                    <li><a href="/jack-purcell" aria-label="Jack Purcell" title="Jack Purcell">Jack
                                            Purcell</a></li>
                                    <li><a href="/converse-seasonal" aria-label="Converse Seasonal"
                                            title="Converse Seasonal">Converse Seasonal</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footers2-top-item footers2-top-five">
                            <h4>Liên hệ với chúng tôi <i class="fa fa-chevron-down"></i></h4>
                            <div class="footers2-top-item-content">
                                <p>Luôn cập nhật tất cả các hành động mà chúng tôi đã lưu cho tất cả khách hàng của
                                    mình.
                                </p>
                                <ul class="shop-social">
                                    <li>
                                        <a href="/collections/all" target="_blank" aria-label="F1GENZ Shoes - Facebook"
                                            title="F1GENZ Shoes - Facebook">
                                            <img width="30" height="30" title="F1GENZ Shoes - Facebook"
                                                src="https://file.hstatic.net/200000588277/file/facebook__6__53aaa8d352524d3eb025af5203eaa437_icon.png"
                                                alt="F1GENZ Shoes - Facebook">
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/collections/all" target="_blank" aria-label="F1GENZ Shoes - Youtube"
                                            title="F1GENZ Shoes - Youtube">
                                            <img width="30" height="30" title="F1GENZ Shoes - Youtube"
                                                src="https://file.hstatic.net/200000588277/file/youtube__5__4f04522e10494557a651f53a33ad4d76_icon.png"
                                                alt="F1GENZ Shoes - Youtube">
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/collections/all" target="_blank" aria-label="F1GENZ Shoes - Pinterest"
                                            title="F1GENZ Shoes - Pinterest">
                                            <img width="30" height="30" title="F1GENZ Shoes - Pinterest"
                                                src="https://file.hstatic.net/200000588277/file/pinterest_a1a15995132a4275845412deba5f1193_icon.png"
                                                alt="F1GENZ Shoes - Youtube">
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/collections/all" target="_blank" aria-label="F1GENZ Shoes - TikTok"
                                            title="F1GENZ Shoes - TikTok">
                                            <img width="30" height="30" title="F1GENZ Shoes - TikTok"
                                                src="https://file.hstatic.net/200000588277/file/tik-tok_d85bb4e7468c43ac9ed5437649b7405c_icon.png"
                                                alt="F1GENZ Shoes - TikTok">
                                        </a>
                                    </li>

                                    <li>
                                        <a href="/collections/all" target="_blank" aria-label="F1GENZ Shoes - Instagram"
                                            title="F1GENZ Shoes - Instagram">
                                            <img width="30" height="30" title="F1GENZ Shoes - Instagram"
                                                src="https://file.hstatic.net/200000588277/file/instagram__3__7de3ebbce1f24003b516ca6c1d7c24d5_icon.png"
                                                alt="F1GENZ Shoes - Instagram">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footers2-bot">
                        <p class="text-copyright">© 2025 - Bản quyền thuộc về
                            <a target="_blank" title="F1GENZ TECHNOLOGY CO., LTD."
                                aria-label="F1GENZ TECHNOLOGY CO., LTD." href="https://f1genz.com/">F1GENZ TECHNOLOGY
                                CO., LTD.</a>
                            <a target="_blank"
                                href="https://www.sapo.vn/?utm_campaign=cpn:f1genz-babie-plm:footer&amp;utm_source=f1genz-babie&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=f1genz-babie"
                                rel="nofollow">Cung cấp bởi Sapo</a>
                        </p>
                        <ul class="shop-payment">
                            <li class="shop-payment-item">
                                <a href="/" aria-label="/ - Payment" title="/ - Payment">
                                    <img width="76" height="48"
                                        src="//bizweb.dktcdn.net/100/493/370/themes/940719/assets/shop_payment_item_image_1.png?1713464283843"
                                        alt="/ - Payment">
                                </a>
                            </li>
                            <li class="shop-payment-item">
                                <a href="/" aria-label="/ - Payment" title="/ - Payment">
                                    <img width="76" height="48"
                                        src="//bizweb.dktcdn.net/100/493/370/themes/940719/assets/shop_payment_item_image_2.png?1713464283843"
                                        alt="/ - Payment">
                                </a>
                            </li>
                            <li class="shop-payment-item">
                                <a href="/" aria-label="/ - Payment" title="/ - Payment">
                                    <img width="76" height="48"
                                        src="//bizweb.dktcdn.net/100/493/370/themes/940719/assets/shop_payment_item_image_3.png?1713464283843"
                                        alt="/ - Payment">
                                </a>
                            </li>
                            <li class="shop-payment-item">
                                <a href="/" aria-label="/ - Payment" title="/ - Payment">
                                    <img width="76" height="48"
                                        src="//bizweb.dktcdn.net/100/493/370/themes/940719/assets/shop_payment_item_image_4.png?1713464283843"
                                        alt="/ - Payment">
                                </a>
                            </li>
                            <li class="shop-payment-item">
                                <a href="/" aria-label="/ - Payment" title="/ - Payment">
                                    <img width="76" height="48"
                                        src="//bizweb.dktcdn.net/100/493/370/themes/940719/assets/shop_payment_item_image_5.png?1713464283843"
                                        alt="/ - Payment">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    </div>
</body>

<script>


    // Open modal
    function openModal() {
        const modal = document.getElementById("imageModal");
        const mainImage = document.getElementById("mainImage");
        const modalImage = document.getElementById("modalImage");

        modalImage.src = mainImage.src; // Set modal image source to the clicked image
        modal.style.display = "flex"; // Show the modal
    }

    // Close modal
    function closeModal() {
        const modal = document.getElementById("imageModal");
        modal.style.display = "none"; // Hide the modal
    }

    // Change main image
    function changeImage(imagePath) {
        const mainImage = document.getElementById('mainImage');
        mainImage.src = imagePath;
        mainImage.classList.add('fade-in');

        // Remove the fade-in effect after animation completes
        setTimeout(() => {
            mainImage.classList.remove('fade-in');
        }, 300);
    }
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy tất cả các thẻ <li> và các phần tử tương ứng
        const tabs = document.querySelectorAll(".main-product-description-left-head li");
        const contents = document.querySelectorAll(".main-product-description-left-item");

        // Lặp qua từng thẻ <li>
        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                // Lấy giá trị data-type của thẻ <li> được click
                const type = tab.getAttribute("data-type");

                // Bỏ class 'active' của tất cả các thẻ <li> và thêm cho thẻ đang click
                tabs.forEach(t => t.classList.remove("active"));
                tab.classList.add("active");

                // Ẩn tất cả các phần tử <div> liên quan
                contents.forEach(content => {
                    content.classList.add("an"); // Thêm class 'an' để ẩn
                });

                // Hiển thị phần tử tương ứng với data-type
                const target = document.querySelector(`.main-product-description-left-item[data-type="${type}"]`);
                if (target) {
                    target.classList.remove("an"); // Xóa class 'an' để hiển thị
                }
            });
        });
    });

</script>
</html>